.App{
  background-color:floralwhite;
}
.Page-header-container{
  background-image: url('../public/scene.jpg');
  background-size: cover;
  background-position: center;
}

.Bio{
  width:55%;
}

.Bio-text{
  text-align: left;
  margin-left: 60px;
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 500; 
  line-height:200%;
}

.Interest{
  font-size: 25px;
  font-style: bold;
  font-family: 'Times New Roman', Times, serif;
  color:black;
  text-align: left;
  margin-left: 100px;
  font-weight: 600;
}

.Pic-list{
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.Pic{
  width: 400px;
  height: 300px;
  border-radius: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

.New-list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 210px;
  width: 90%;
  height: 400px; /*fixed height*/
  overflow-y: auto; /*overflow if needed*/
  border: 3px solid;
}

.New-list li{
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 500; 
  line-height: 150%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Page-header-list{
  display: flex;
  flex-direction: row;
  list-style-type: none; /*no dots displayed*/
  align-items: center;
  justify-content: space-around;
  height: 60px;
}

.Page-header-list li{
  border-radius: 15px;
}

.Name{
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  color:azure;
  font-size: 45px;
  padding-top: 10px;
}

.Link{
  text-decoration: none;
  font-size:xx-large;
  font-weight: 500;
  text-align: center;
  align-items: center;
  color:azure;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Heading-container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.Heading-container-2{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.Heading-title{
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

.Heading-subtitle{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Heading-image{
  margin-top: 30px;
  width: 250px;
  height: 250px;
  border-radius: 120px;
  margin-bottom: 20px;
}

.Icon-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Icon-image{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.About-me-container{
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.Research-section{
  display: flex;
  flex-direction: column;
}

.Research-heading{
  text-align: left;
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 800;
  color:blue;
}

.Research-list-container{
  display: flex;
  flex-direction: column;
}

.Research-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Location{
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  color:blueviolet;
  font-family:Arial, Helvetica, sans-serif;
}

.Job-title{
  text-align: center;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 800;
  color:darkblue;
  font-family: 'Times New Roman', Times, serif;
}

.Advisor{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color:brown;
  font-style: italic;
}

.Skill-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Skill{
  text-align: center;
  font-size: 20px;
  color:deeppink;
  font-weight: 600;
  font-style: italic;
}

.Description-list{
  list-style-type: none; /*no dots*/
}

.Description-list li{
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 5px;
  color:darkgreen;
  padding-left: 150px;
  padding-right: 150px;
}

.IconText-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Highlight-list{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.Highlight-item{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.Highlight-img{
  width: 250px;
  height: 150px;
  border-radius: 30px;
}

.Highlight-img:hover{
  opacity: 80%;
}

.Highlight-text{
  text-align: center;
  margin-top: 10px;
  font-size: large;
  font-weight: 600;
  color:brown;
  font-family:'Times New Roman', Times, serif;
}

.Footer{
  display: flex;
  flex-direction: row;
  background-color:black;
  align-items: center;
  justify-content: center;
}

.Footer p{
  text-shadow: 10px;
  font-size: large;
  font-weight: 600;
  color:grey;
  font-family: Arial, Helvetica, sans-serif;
}

.Resume-cover {
  width: 300px;
  height: 400px;
  border-radius: 60px;
}

.Resume-button {
  margin-top: 20px;
  color:azure;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Resume-button:hover{
  background-color:cadetblue;
}

.Resume-button p{
  font-size: x-large;
  text-align: center;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.Parallel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Resume-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:45%;
}
